<apex:component controller="CMultiSelectComponentController">
    <apex:attribute name="AvailableList" type="selectOption[]" description="Available List from the Page" assignTo="{!options}" required="True"/>
    <apex:attribute name="ChosenList" type="selectOption[]" description="Chosen List from the Page" assignTo="{!selectedOptions}" required="True"/>
    <apex:attribute name="ChosenString" type="string" description="Chosen String from the Page" assignTo="{!pChosenString}" required="false"/>
    <apex:attribute name="ListSize" type="string" description="Type the List size" assignTo="{!pListSize}" required="false"/> 
    <script type="text/javascript">
        /*$(document).ready(function(e)
		{
			FillSelectedOptionsList();
		});*/
    </script>
	<style type="text/css">
		#TopButton
		{
			padding-bottom: 5px;
		}
		
		.theTable td
		{
			vertical-align: middle;
		}
		
		.headInComponent
		{
			text-align: center;
			font-weight: bold;
		}
	</style>
	<!-- Apex function called to move the selected values from available list to chosen list and vice versa -->
    <apex:actionFunction name="FillSelectedOptionsList" action="{!FillSelectedOptionsList}" rerender="selected, deselected"/>
    <apex:outputPanel id="panel">
    	<table class="theTable">
    		<tr>
		    	<td>
	        		<div class="headInComponent">
	        			זמינים
	        		</div>
			        <div>
				    	<apex:outputPanel id="selected">
					        <apex:selectList multiselect="true" size="{!pListSize}" value="{!selected}">
					            <apex:selectOptions value="{!options}" />
					            <!-- <apex:selectOption value="{!Available}"/> -->
					            <apex:actionSupport event="ondblclick" action="{!selecting}" rerender="panel" status="waitingStatus" />
					        </apex:selectList>
				        </apex:outputPanel>
					</div>
		        </td>
	           	<td style="vertical-align: middle;">
		           <div id="TopButton"><apex:commandButton reRender="panel" id="select" action="{!selecting}" value=">>" status="waitingStatus"/></div>
		           <div><apex:commandButton reRender="panel" id="deselect" action="{!deselecting}" value="<<" status="waitingStatus"/></div>
	           	</td>
	        	<td>
	        		<div class="headInComponent">
	        			נבחרים
	        		</div>
			        <div>
				        <apex:outputPanel id="deselected">
					        <apex:selectList multiselect="true" size="{!pListSize}" value="{!deselected}">
					            <apex:selectOptions value="{!selectedOptions}" />
					            <!-- <apex:selectOption value="{!Chosen}"/> -->
					            <apex:actionSupport event="ondblclick" action="{!deselecting}" rerender="panel" status="waitingStatus" />
					        </apex:selectList>
				        </apex:outputPanel>
					</div>
		        </td>
			</tr>
        </table>
		<!-- An action status to show that the operation of moving between the lists is in progress--->
		<apex:actionStatus id="waitingStatus" startText="אנא המתן..." stopText=""/>
    </apex:outputPanel>
</apex:component>