<apex:page controller="CActivityApprovalToPrintFacad" action="{!UpdateApproval}" renderAs="pdf">
<html dir="rtl" lang="he">
    <head>
     
        <style type="text/css">
            body 
            { 
                font-family: Arial Unicode MS; 
                text-align:right;
            } 
            .sample
            {
                font-weight:bold;
            }
            p,#Opportunity
            {
                font-size:1.0em;
                font-family: Arial Unicode MS; text-align:right;
                vertical-align:middle;
            }
            #Opportunity,#Opportunity td, #Opportunity th,.tableHead, .tRowOdd,.tRowEven
            {
                border-collapse:separate;
                border-color:black;
                border-spacing:50px;
                border-width:1px;
                border-style:outset;
                background-color: white;
                font-size:1.0em;
                text-align:center;
                vertical-align:middle;
            }
            #Opportunity td, #Opportunity th,.tableHead, .tRowOdd,.tRowEven
            {
                height:30px;
                padding:3px;
                border-style:inset;
                -moz-border-radius:3px;
                vertical-align:middle;
            }
            .tRowEven
            {
                background-color:#FFF8DC;
                vertical-align:middle;
            }
            #Opportunity th,.tableHead
            {
                background-color:#D8D8D8;
                vertical-align:middle;
            }
            #Opportunity .OppName
            {
                text-align:right;
                vertical-align:middle;
            }
            
            .activityApprovalDiv, #notes
            {
                margin: 10px 5% 10px 0;
            }
            
            .date
            {
                margin-top: 30px;
                text-align: left;
            }
            
            .familyName
            {
                text-align: right;
            }
            
            .title
            {
                margin-top: 10px;
                font-size: 16pt;
                text-align: center;
            }
            
            .bold
            {
                font-size: 24px;
                font-weight: bold;
            }
            
            .welcome, .Greeting, .Signature
            {
                font-size: 14pt;
            }
            
            .Signature
            {
                
                text-align: left;
            }
        </style> 
    </head>
    <body>
        <div id="DateAndFamily">
            <div >
                <p>
                    ה"ב
                </p>
                <img src="{!URLFOR($Resource.ChesedLogoToPrint)}" width="100%"/>
            </div>
            <div class="date">
                {!todayDate}
            </div>
            <div class="familyName">
                :דובכל <br/>
                {!familyName}
            </div>
            <div class="title">
                <label class="bold">תוליעפ רושיא</label> :ןודנה
            </div>
            <div class="welcome">
                <p>!בר םולש</p>
                <p>:ןמקלדכ טלחוה {!meetingDate} םויב המייקתהש הבישיב</p>
            </div>
        </div>
        <div id="activityApprovals">
            <apex:outputText value="{!activityApprovalsHtmlToView}" escape="false"/>
        </div>
        <div id="notes">
            <apex:outputText value="{!pActivityApproval.activityNote}" escape="false"/>
        </div>
        
        <div id="bottomLine">
            <div class="Greeting">
                !החמשו תחנ ,תואירב ךותמ תובוט תורושבל הכרבב
            </div>
            <div class="Signature">
                ןהכ הרואיל 'בגה<br/>
                ןרקה תריכזמ
            </div>
            <div class="Warning">
                .ותבותכל םיחלשנו הרוהה םש לע םה םימולשתה<br/>
                .תוליעפה הרשוא וב דעומה <lebel style="text-decoration:underline;">ינפל</lebel> המייקתהש תוליעפ רובע תמלשמ ןרקה ןיא
            </div>
        </div>
    </body>
</html>
</apex:page>