<apex:page Title="עריכת רישום שנתי: {!subTitle} ו " standardController="ChildRegistration__c" extensions="CChildRegistrationFacad">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.autocompletejs)}"></script>
    <apex:stylesheet value="{!$Resource.autocompletecss}"/>     
    <script type="text/javascript">
        //This is a small workaround for getting the component to work with the enter key
        //I'll include this behavior as part of the component in a next release
        function noenter(e){
 
             var key;    
             if(window.event)
                  key = window.event.keyCode; //IE
             else
                  key = e.which; //firefox    
        
             return (key != 13);    

        }
        
        function disableautocomplete() {
          var forms = document.getElementsByTagName('form');
          
          for (var i = 0; i < forms.length; ++i) {
            if (forms[i].setAttribute) {
              forms[i].setAttribute('autocomplete', 'off')
            } else {
              forms[i].autocomplete = 'off'
            }
          }
        }
        
        if (window.addEventListener) {
          window.addEventListener('load', disableautocomplete, true)
        } else if (window.attachEvent) {
          window.attachEvent('onload', disableautocomplete)
        } else {
          window.onload = disableautocomplete
        }
    </script>
    <apex:form >
        
        <apex:sectionHeader subtitle="{!subTitle}" title="רישום בן משפחה"/>
        <apex:pageMessages />
        <apex:pageBlock title="{!title}">
            <apex:pageBlockButtons style="height:50px;">
                <apex:commandButton action="{!save}" value="שמור"/>
                <apex:commandButton action="{!cancel}" value="ביטול"/>
                <apex:outputLabel value="{!errorMessage}" style="color:red;" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="פרטים כלליים" columns="2" collapsible="false">
                <apex:inputField value="{!pRegistrationChild.SchoolYearName__c}" id="SchoolYearName" required="true" onchange="SetTheClass()">
                    <c:autocomplete Width="300" ClassName="autocomplete" InputId="{!$Component.SchoolYearName}" AutoCompleteId="SchoolYearNameAC" ObjectName="SchoolYear__c" FieldName="name"  DisplayFields="name"/>
                </apex:inputField>
              <!-- <apex:inputField value="{!pRegistrationChild.SupportsName__c}" id="SupportsName">
                    <c:autocomplete Width="300" ClassName="autocomplete" InputId="{!$Component.SupportsName}" AutoCompleteId="SupportsNameAC" ObjectName="Support__c" FieldName="name"  DisplayFields="name"/>
                </apex:inputField>  -->  
                <apex:inputField value="{!pRegistrationChild.IsScholarship__c}"/>
                <apex:inputField value="{!pRegistrationChild.SchoolName__c}" required="true"/>
            </apex:pageBlockSection>
            <apex:outputPanel id="grade">
            <apex:pageBlockSection title="פרטי בן המשפחה" columns="2" collapsible="false">
                <apex:outputField value="{!pRegistrationChild.ChildName__c}"/>
                <apex:inputField value="{!pRegistrationChild.SocialStatus__c}"/>
                <apex:inputField value="{!pRegistrationChild.Class__c}" required="true"/>
                <apex:inputField value="{!pRegistrationChild.EmotionalStatus__c}"/>
                <!--<apex:inputField value="{!pRegistrationChild.ExpectedClass__c}"/-->
                <apex:inputField value="{!pRegistrationChild.LearningStatus__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="פרטי המחנך" columns="2" collapsible="false">
                <apex:inputField value="{!pRegistrationChild.Educator__c}" required="true"/>
                <apex:inputField value="{!pRegistrationChild.EducatorPhoneNumber__c}"/>
            </apex:pageBlockSection>
            </apex:outputPanel>
        </apex:pageBlock>  
    
        <apex:actionFunction name="SetTheClass" action="{!SetClass}" rerender="grade"/>
              
    </apex:form>
        
</apex:page>