<apex:page Title="אין אפשרות לערוך יום בדיווח פעילות" standardController="DayInActivityReport__c" >
    <style>
        .Erorr
        {
            color: red;
            font-size: 25px;
        }
        .myBody
        {
            font-size: 20px;
        }
    </style>

    
    <br/><div class="Erorr" > <b>אין אפשרות לערוך יום בדיווח פעילות </b></div><br/>
    <br/><div class="myBody">כדי לערוך יום זה עליך לגשת לדיווח הפעילות של היום הזה ולערוך בטבלת הימים שם!!</div>
</apex:page>