<apex:page Title="מבחן: {!pageTitle}" standardController="Exam__c" extensions="CExamFacad">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <apex:form >
        
        <apex:sectionHeader subtitle="{!pageTitle}" title="מבחן"/>
         
         <chatter:feedWithFollowers entityId="{!pExam.Id}"/>
          
         <apex:pageBlock title="מבחן" mode="maindetail">
            <apex:pageBlockButtons style="height:50px;">
                <apex:commandButton action="{!save}" value="שמור" id="saveButton" style="display: none;"/>
                <apex:commandButton action="{!cancel}" value="ביטול" id="cancelButton" style="display: none;"/>
                <apex:commandButton action="{!edit}" value="עריכה" id="editButton"/>
                <apex:commandButton action="{!delete}" value="מחק"/>
                <apex:commandButton action="{!NewExam}" value="מבחן חדש"/>
                <apex:outputLabel value="{!errorMessage}" style="color:red;" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="פרטי מבחן" columns="2" collapsible="false">
                <apex:outputField value="{!pExam.name}"/>
                <apex:outputField value="{!pExam.ChildName__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
                <apex:outputField value="{!pExam.ChildRegistration__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
                <apex:outputField value="{!pExam.OwnerId}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="פרטי מבחן" columns="2" collapsible="false">
                <apex:outputField value="{!pExam.ProfessionName__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
                <apex:outputField value="{!pExam.Date__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
                <apex:outputField value="{!pExam.ExamType__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="פרטי מבחן" columns="2" collapsible="false">
                <apex:outputField value="{!pExam.Grade__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
                <apex:outputField value="{!pExam.GradeInWords__c}">
                    <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    <apex:relatedList list="Grants__r" rendered="{!$ObjectType.Grant__c.accessible}"/>
    <apex:relatedList list="OpenActivities"/>
    <apex:relatedList list="ActivityHistories"/>
    <apex:relatedList list="NotesAndAttachments"/>
</apex:page>