<apex:page Title="הודעות" controller="CMessageFacad" tabstyle="Message__c">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<style type="text/css">
	/*table.Opportunity
    {
	    border: solid 1px #e8eef4;
	    border-collapse: collapse;
		border-radius: 4px 4px 4px 4px;
	}
	
	table.Opportunity td 
	{
	    padding: 5px;
	    border: solid 1px #e8eef4;
	}
	
	table.Opportunity th 
	{
	    padding: 6px 5px;
	    text-align: center;
	    background-color: #e8eef4;
	    border: solid 1px #e8eef4;
	}*/
	.up
	{
		width: 100%;
		height: 30px;
		padding-top: 20px;
		margin-right: 8%;
		vertical-align:middle;
	}
	.sample 
	{
		font-weight: bold;
	}
	
	.tRowOdd
	{
		background-color: white;
		
	}
	
	p, table.Opportunity 
	{
		font-size: 1.0em;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		vertical-align: middle;
	}
	
	table.Opportunity th,.tableHead,.tRowOdd,.tRowEven
	{
		border-collapse: separate;
		border-color: black;
		border-spacing: 50px;
		border-width: 1px;
		border-style: outset;
		text-align: center;
		vertical-align: middle;
	}
	
	table.Opportunity td, .tableHead, .tRowOdd 
	{
		border-collapse: separate;
		//border-color: black;
		border-spacing: 50px;
		border-width: 1px;
		border-style: outset;
		text-align: center;
		vertical-align: middle;
	}
	
	table.Opportunity, .tableHead, .tRowOdd, .tRowEven 
	{
		height: 30px;
		padding: 3px;
		border-style: inset;
		-moz-border-radius: 3px;
		vertical-align: middle;
	}
	
	.tRowEven 
	{
		background-color: #eeeeee;
		vertical-align: middle;
	}
	
	table.Opportunity th,.tableHead 
	{
		background-color: #C4E7F2;
		vertical-align: middle;
	}
	
	table.Opportunity .OppName 
	{
		text-align: center;
		vertical-align: middle;
	}
	
	table.Opportunity td:hover
	{
		background-color: #FCC;
	}
	
	.ani
	{
		border-collapse: separate;
		//border-color: black;
		border-spacing: 50px;
		border-width: 1px;
		border-style: outset;
	}
	</style>
	<apex:form >
    		
    	    <!-- <apex:pageBlockButtons style="height:50px;">
	            <apex:commandButton action="{!onAddToReadBy}" value="{!addToReadByButtonName}" rendered="{!bIsInReadBy}"/>
	            <apex:commandButton action="{!onRemoveFromReadBy}" value="{!removeFromReadByButtonName}" rendered="{!bIsNotInReadBy}"/>
	            <apex:commandButton action="{!delete}" value="מחק"/>
	            <apex:outputLabel value="{!errorMessage}" style="color:red;" />
	        </apex:pageBlockButtons> -->
            <table class="up">
        		<tr class="up">
        			<td style="height: 30px; width: 3.5%; vertical-align: middle;">
        				<IMG SRC="http://www.gaya-development.co.il/media/upload/images/6206083-e-mail-internet-icon(1).jpg" style="margin-right:20%;" ALT="alternate_text" HEIGHT="35px" WIDTH="73%"></IMG>
        			</td>
        			<td style="vertical-align: middle;">
        				<apex:selectList value="{!notReadOrAll}" size="1" onchange="ChangeList()">
		                    <apex:SelectOptions value="{!notReadOrAllOptions}"/>
		                </apex:selectList>
        				<apex:commandButton style="width: 25px; height: 25px; background-position:center; background-size: 25px; background-repeat: no-repeat; background-image: url('http://erev-rav.com/wp-content/uploads/2011/03/symbol-refresh.png');" action="{!OnChangeList}" title="רענן"/>
        			</td>
       			</tr>
        	</table>
	       	<apex:outputPanel id="ChangeGradeInWords">
				<apex:dataTable value="{!pMessagesForView}" var="line" id="Opportunity" styleClass="Opportunity"
					rowClasses="tRowOdd, tRowEven" width="100%" headerClass="tableHead"
					rendered="true" onRowMouseMove="this.style.backgroundColor = '#CCC';" onRowMouseOut="this.style.backgroundColor = '';">
					<apex:facet name="caption"></apex:facet>
					<apex:facet name="header"></apex:facet>
					<apex:facet name="footer"></apex:facet>
					<apex:column style="width=20%;vertical-align:middle;text-align:center;">
						<apex:facet name="header">תאריך יצירה</apex:facet>
						<apex:outputField value="{!line.pMessage.CreatedDate}" />
					</apex:column>
					<apex:column style="width=20%;vertical-align:middle;text-align:center;">
						<apex:facet name="header">שולח</apex:facet>
						<apex:outputField value="{!line.pMessage.Sender__c}"/>
					</apex:column>
					<apex:column style="width=20%;vertical-align:middle;text-align:center;">
						<apex:facet name="header">עבור</apex:facet>
						<apex:outputField value="{!line.pMessage.For__c}"/>
					</apex:column>
					<apex:column style="width=20%;vertical-align:middle;text-align:center;">
						<apex:facet name="header">סוג הודעה</apex:facet>
						<apex:outputField value="{!line.pMessage.MessageType__c}"/>
					</apex:column>
					<apex:column style="width=20%;vertical-align:middle;text-align:center;">
						<apex:facet name="header">תוכן הודעה</apex:facet>
						<apex:outputField value="{!line.pMessage.MessageContent__c}" />
						<apex:outputField value="{!line.pMessage.FamilyOrChildName__c}"/>
					</apex:column>
					<apex:column style="width=20%;vertical-align:middle;text-align:center;">
						<apex:facet name="header">לינק</apex:facet>
						<a href="{!line.messageLink}">עבור למקור</a>
					</apex:column>
					<apex:column style="width=20%;vertical-align:middle;text-align:center;">
						<apex:facet name="header">נקרא ע"י</apex:facet>
						<apex:outputPanel id="ReadBy">
							<apex:outputField value="{!line.pMessage.ReadBy__c}"/>
						</apex:outputPanel>
					</apex:column>
					<apex:column style="width=20%;vertical-align:middle;text-align:center;">
						<apex:facet name="header">נקרא</apex:facet>
						<apex:commandLink action="{!onChangeToRead}" value="טופל" rerender="ReadBy">
	                         <apex:param name="selectedLineToRead" value="{!line.pMessage.index__c}"/>
	                    </apex:commandLink>
	                    &nbsp;|&nbsp;
						<apex:commandLink action="{!onChangeToNotRead}" value="לא טופל" rerender="ReadBy">
	                         <apex:param name="selectedLineToNotRead" value="{!line.pMessage.index__c}"/>
	                    </apex:commandLink>
					</apex:column>
				</apex:dataTable>
			</apex:outputPanel>	
			<!-- <apex:pageBlock >
				<apex:pageBlockTable value="{!pMessagesForView}" var="line" rowClasses="Opportunity">
	
	            	<apex:column value="{!line.name}"/> 
	            	<apex:column value="{!line.MessageType__c}"/> 
	            	<apex:column value="{!line.Sender__c}"/> 
	            	<apex:column value="{!line.For__c}"/> 
	            	<apex:column value="{!line.MessageContent__c}"/> 
	            	<apex:column >
						<apex:facet name="header">נקרא ע"י</apex:facet>
						<apex:outputPanel id="ReadBy">
							<apex:outputField value="{!line.ReadBy__c}"/>
						</apex:outputPanel>
					</apex:column>
	            	<apex:column >
						<apex:facet name="header">נקרא</apex:facet>
						<apex:commandLink action="{!onChangeToRead}" value="נקרא" rerender="ReadBy">
	                         <apex:param name="selectedLineToRead" value="{!line.index__c}"/>
	                    </apex:commandLink>
	                    &nbsp;|&nbsp;
						<apex:commandLink action="{!onChangeToNotRead}" value="לא נקרא" rerender="ReadBy">
	                         <apex:param name="selectedLineToNotRead" value="{!line.index__c}"/>
	                    </apex:commandLink>
					</apex:column>
	
	        	</apex:pageBlockTable> 
        	</apex:pageBlock> -->
        <apex:actionFunction name="ChangeList" action="{!OnChangeList}"/>
    </apex:form>  
</apex:page>