<apex:page controller="CProperChildrenFullReportFacad">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <style type="text/css">
    	.sffont
	    {
	    	
	    }
	    
	    table.DetailsTable
	    {
		    width: 100%;
	    }
	    
	    .DetailsTable th
	    {
	    	width: 20%;
	    	font-size: 11pt; 
	    	font-weight: bold;
	    	color: #4A4A56 !Important;
	    	text-align: left;
	    	vertical-align: top;
	    	padding-left: 10px;
	    }
	    
	    .DetailsTable td
	    {
	    	width: 30%;
	    	text-align: right;
	    	padding-right: 10px;
	    }
	    
	    .headLine
	    {
	    	padding-right: 9px; 
	    	text-align: center; 
	    	font-size: 13pt; 
	    	font-weight: bold;
	    }
	    
	    .center
	    {
	    	text-align: center;
	    }
    </style>
    
    
    <apex:form >
		<apex:sectionHeader subtitle="הכנה להדפסת תיקי ילדים" title=""/>
		<apex:pageBlock title="" mode="edit">
			<div class="headLine">
				אנא בחר מה ברצונך להציג		
			</div>
			<div style="text-align: center;">
				באם לא יבחרו שנים יודפס רק פרטים אישיים
			</div>
           	<table class="DetailsTable">
       			<tr>
       				<th rowspan="7">
       					בחר שנים
       				</th>
       				<td rowspan="7" style="padding-right: 9px; text-align: right;">
       					<c:MultiSelectComponent AvailableList="{!available}" ChosenList="{!choosen}"/> 
       				</td>
	            	<th>
	            		עדכונים
	            	</th>
	            	<td>
	            		<apex:inputcheckBox value="{!IsCasesInView}"/>
	            	</td>
       			</tr>
	           <tr>
	            	<th>
	            		בקשות
	            	</th>
	            	<td>
	            		<apex:inputcheckBox value="{!IsRequestInView}"/>
	            	</td>
	            </tr>
	            <tr>
	            	<th>
	            		אישורים
	            	</th>
	            	<td>
	            		<apex:inputcheckBox value="{!IsApprovalsInView}"/>
	            	</td>
	            </tr>
	            <tr>
	            	<th>
	            		דוחות
	            	</th>
	            	<td>
	            		<apex:inputcheckBox value="{!IsReportsInView}"/>
	            	</td>
	            </tr>
	            <tr>
	            	<th>
	            		ציונים של תעודות
	            	</th>
	            	<td>
	            		<apex:inputcheckBox value="{!IsDiplomasInView}"/>
	            	</td>
	            </tr>
	            <tr>
	            	<th>
	            		מבחנים
	            	</th>
	            	<td>
	            		<apex:inputcheckBox value="{!IsExamsInView}"/>
	            	</td>
	            </tr>
	            <tr>
	            	<th>
	            		התקדמות הילד
	            	</th>
	            	<td>
	            		<apex:inputcheckBox value="{!IsChildProgressInView}"/>
	            	</td>
	            </tr>
       		</table>	   
       		<div class="center"> 
       			<apex:commandButton value="חזור לבני משפחה" action="{!BackToChildrenTab}"/>
       			<apex:commandButton value="המשך להדפסה" action="{!ContinueToPrint}"/>
       		</div>
       	</apex:pageBlock> 
	</apex:form>
</apex:page>