<apex:page Title="בקשה לפעילות: {!pageTitle} ו" standardController="RequestForTreatment__c" extensions="CRequestForTreatmentFacad">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>
    	function deleteItem(e)
		{
		    if (!window.confirm("האם אתה בטוח שברצונך למחוק פריט זה?"))
	        {
		        e.preventDefault();
		        event.stopPropagation();
	        }
		}
		
		function GoToNextRequest()
		{
			var url = '{!nextRequestUrl}';
			if (url != null && url != '' && url.length > 0)
				location.href = url;
			else
				window.alert('לעדכון זה אין עוד בקשות פתוחות');
		}
	</script>
	<style type="text/css">
		.mybtn
		{
			margin: 0 3px;
			text-decoration: none;
			padding: 4px 3px !important;
		}
		.mybtn:hover
		{
			text-decoration: none;
		}
		
		.childpic img
		{
	        height: 50px !important;
	        width: auto;
    	}
	</style>
	
	<apex:form >
    	<apex:sectionHeader subtitle="{!pageTitle}" title="בקשה לפעילות"/>
    	
<!--         <chatter:feedWithFollowers entityId="{!pRequestForTreatment.Id}"/>   -->
        
        <apex:pageBlock title="בקשה לפעילות" mode="maindetail">
            <apex:pageBlockButtons style="height:50px;">
	            <apex:commandButton action="{!save}" value="שמור" id="saveButton" style="display: none;" rendered="{!!bApproved}"/>
				<apex:commandButton action="{!cancel}" value="ביטול" id="cancelButton" style="display: none;" rendered="{!!bApproved}"/>
				<apex:commandButton action="{!edit}" value="עריכה" id="editButton" rendered="{!!bApproved}"/>
                <apex:commandButton onclick="deleteItem(event);" action="{!delete}" value="מחק" rendered="{!!bApproved}"/>
                <input type="button" class="btn" onclick="GoToNextRequest();" value="עבור לבקשה הבאה"/>
	             <a target="_blank" class="btn mybtn" href="{!printLayout}">להדפסה</a> 
	            <apex:outputLabel id="errorMessage" value="{!errorMessage}" style="color:red;" />
	            &nbsp;&nbsp;<apex:outputText value="אין אפשרות לערוך או למחוק בקשה שאושרה" rendered="{!bApproved}"/>
	            &nbsp;&nbsp;<apex:commandLink action="{!edit}" value="[מידע נוסף]" rendered="{!bApproved}"/>
	        </apex:pageBlockButtons>
		    <span class="childpic">
			    <apex:pageBlockSection title="פרטי בקשה" columns="2" collapsible="false">
			    	<apex:outputField value="{!pRequestForTreatment.name}"/>
			    	<apex:outputField value="{!pRequestForTreatment.CaseName__c}"/>
		            <apex:outputField value="{!pRequestForTreatment.ChildName__c}"/> 
		            <apex:outputField value="{!pRequestForTreatment.ChildName__r.Picture__c}"/>
		             <apex:outputField value="{!pRequestForTreatment.Description__c}"/>
		            <apex:outputText value="{!pLastDiplomaDate}" label="תאריך תעודה אחרונה"/>
		            <apex:outputField value="{!pRequestForTreatment.TutorName__c}">
	                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
	                </apex:outputField>
		            <apex:outputField value="{!pRequestForTreatment.WeeklyHours__c}" rendered="{!bWeeklyHours}"/>
		            <apex:outputField value="{!pRequestForTreatment.MeetingsNumber__c}" rendered="{!bMeetings}"/>
		            <apex:outputField value="{!pRequestForTreatment.ApprovalAmount__c}" rendered="{!bApprovalAmount}"/>
		            <apex:outputPanel >
	                    <table style="width: 100%"> 
	                        <tr>
	                            <td style="text-align: left;width: 35.4%; padding-left: 10px;">
	                                <apex:outputText value="שם מקצוע" style="margin-right:28%;text-align: left; font-size: 91%; font-weight: bold;color: #4A4A56;" />
	                            </td>
	                            <td style="text-align: right; padding-Right: 10px; display: inline-block;" >
	                                <apex:outputField value="{!pRequestForTreatment.ProfessionTypeName__c}"/>
	                            </td>
	                        
	                            <td style="text-align: right; display: inline-block; padding-Right: 3px;" >
	                                <apex:outputField value="{!pRequestForTreatment.ProfessionName__c}"/>
	                            </td>
	                            <td style="text-align: right; display: inline-block; padding-Right: 3px;">
	                            	<apex:outputField value="{!pRequestForTreatment.ProfessionOther__c}" rendered="{!bOther}"/>
	                            </td>
	                        </tr>
	                    </table>
	                </apex:outputPanel>
	                <apex:outputField value="{!pRequestForTreatment.RequestStatus__c}">
	                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
	                </apex:outputField>
	                <apex:outputField value="{!pRequestForTreatment.CaseName__r.OwnerId}"/>
	                <apex:outputField value="{!pRequestForTreatment.StayReason__c}">
	                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
	                </apex:outputField>
	                <apex:outputField value="{!pRequestForTreatment.Fare__c}">
	                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
	                </apex:outputField>
		            <apex:outputField value="{!pRequestForTreatment.Comment__c}">
	                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
	                </apex:outputField>
		            <apex:outputField value="{!pRequestForTreatment.SchoolYear__c}">
	                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
	                </apex:outputField>
	                <apex:outputField value="{!pRequestForTreatment.CreatedDate}" label="תאריך הזנת בקשה למערכת"/>
		        </apex:pageBlockSection>
		    </span>
	        <apex:pageBlockSection title="תקופה" columns="2" collapsible="false">
	        	<apex:outputField value="{!pRequestForTreatment.FromDate__c}">
                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
	        	<apex:outputField value="{!pRequestForTreatment.ToDate__c}">
                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
	        </apex:pageBlockSection>
	        <apex:pageBlockSection title="חוות דעת" columns="2" collapsible="false">
	        	<apex:outputField value="{!pRequestForTreatment.TeacherReviews__c}">
                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
	        	<apex:outputField value="{!pRequestForTreatment.ManagerReviews__c}">
                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
	        	<apex:outputField value="{!pRequestForTreatment.Reviews__c}">
                	<apex:inlineEditSupport showOnEdit="saveButton, cancelButton" hideOnEdit="editButton" event="ondblclick" changedStyleClass="myBoldClass" resetFunction="resetInlineEdit"/>
                </apex:outputField>
	        </apex:pageBlockSection>
	    </apex:pageBlock> 
    </apex:form>
    <apex:relatedList list="ActivityApprovalList__r" title="אישורי פעילות" />
	<apex:relatedList list="NotesAndAttachments" title="הערות וקבצים מצורפים" />
    <apex:pageBlock id="history" title="היסטוריית בקשה לפעילות">
       <apex:pageBlockTable value="{!pRequestForTreatmentHistories}" var="history">
	        <apex:column headerValue="תאריך השינוי" >
	        	<apex:outputText value="{!history.pCreatedDate}"/>
	        </apex:column>
	        <apex:column >
	        	<apex:facet name="header">שונה</apex:facet>
	        	<apex:outputText value="{!history.pFieldLabel}" />
	        </apex:column>
	        <apex:column headerValue="מ - ">
		        <apex:outputText value="{!history.pOldValue}" />
			</apex:column>
			<apex:column headerValue="ל - ">
		        <apex:outputText value="{!history.pNewValue}" />
			</apex:column>
	        <apex:column headerValue="על ידי"   value="{!history.pCreatedByName}"/>
	    </apex:pageBlockTable>
	</apex:pageBlock>
</apex:page>